body {
    font-family: Arial;
    padding: 30px;
}

textarea {
  width: 400px;
  height: 120px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}