#Python Cache
__pycache__/
.pyc 

# Virtual environment
venv/

# Hugging Face cache
.cache/

# Environment variables
.env

# Node modules 
node_modules/

# Logs
.log

# Trained ML models 
nlp/phishing-model/
nlp/phishing-model_v1.zip
nlp/.zip

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db