/* ================= AUTH SECTION ================= */

.auth-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Background gradient (blue-purple glow) */


/* Glass card */
.auth-card {
  width: 400px;
  padding: 45px;
  border-radius: 25px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 70px rgba(140, 0, 255, 0.5);

  text-align: center;
  color: white;
  
}

/* Heading */
.auth-card h2 {
  font-size: 32px;
  margin-bottom: 8px;
  font-weight: 600;
}

/* Subtitle */
.auth-card p {
  color: #cbd5e1;
  font-size: 14px;
  margin-bottom: 30px;
}

/* Input container style */
.auth-card input {
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 18px;

  border-radius: 35px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.08);
  color: white;
  font-size: 14px;

  transition: all 0.3s ease;
}

/* Blue glow on focus */
.auth-card input:focus {
  box-shadow: 0 0 20px rgba(0, 140, 255, 0.8);
  background: rgba(255, 255, 255, 0.12);
}

/* Gradient button */
.auth-card button {
  width: 100%;
  padding: 16px;

  border-radius: 35px;
  border: none;

  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.5px;

  background: linear-gradient(90deg, #5f2c82, #49a09d);
  color: white;

  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover glow */
.auth-card button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 25px rgba(110, 0, 255, 0.9);
}

/* Toggle text */
.toggle-text {
  margin-top: 25px;
  font-size: 14px;
  color: #94a3b8;
}

.toggle-text a {
  color: #8b5cf6;
  text-decoration: none;
  font-weight: 500;
}

.toggle-text a:hover {
  text-decoration: underline;
}
